xsampdoc
{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 1px black;
}

greeting
{
    color: red;
    font-size: 30pt;
    display: block;

}
extention
{
    color: black;
    font-size: 25pt;
    display: block;
}
.ans extention
{
    color: blue;
    font-size:20pt;
    display: block;

}
.ans question
{
    font-size: 30pt;
}


